/*------------------------------------------------------------------------------
              Notebook Background Color Schemes by CyanVoxel v1.0.0

These a few CSS classes that mimic a few of my real-world pages and pen colors.
Go ahead and try it out! You can change or add new color variables or entire new
classes and combinations. Inside Obsidian, apply a page class with an optional
pen color class to see the effects. Add the recolor-images class to recolor
the images in your notes, too!

Website used to generate Color Filters:
https://angel-rs.github.io/css-color-filter-generator
                
------------------------------------------------------------------------------*/

:root {
  --manila-pen-black: #26241f;
  --manila-pen-black-trans: #26241f22;
  --manila-pen-blue: #3f76ed;
  --manila-pen-blue-trans: #3f76ed22;
  --manila-pen-red: #e14a49;
  --manila-pen-red-trans: #f0373622;
  --manila-pen-green: #15b64f;
  --manila-pen-green-trans: #15b64f22;
  --manila-page: #f3deaf;
  --blue-page: #3f76ed;
  --pen-white: #edf1fc;
  --pen-white-trans: #edf1fc22;

  --page-color: var(--manila-page);
  --accent-color: var(--manila-pen-black);
  --accent-color-trans: var(--manila-pen-black-trans);
}

/* Recolors images on the page with the current accent color. */
.recolor-images img {
  filter: var(--image-effect);
}

/* ----------------------- Manila/Tan Page Background ----------------------- */
/* Defaults to Black Pen */
.page-manila
/* .cm-html-embed:has(.page-manila) + .cm-embed-block img,
.cm-html-embed:has(.page-manila) + .media-embed img */ {
  --page-color: var(--manila-page);
  --accent-color: var(--manila-pen-black);
  --accent-color-trans: var(--manila-pen-black-trans);

  color-scheme: light;
  color: var(--accent-color);
  background-color: var(--manila-page);
  --text-normal: var(--accent-color);
  --text-muted: var(--accent-color);
  --checklist-done-color: var(--accent-color);
  --metadata-label-text-color: var(--accent-color);
  --tag-color: var(--accent-color);
  --link-color: var(--manila-pen-blue);
  --link-color-hover: rgb(126, 163, 241);
  --metadata-input-text-color: var(--accent-color);
  --hr-color: var(--accent-color);
  --tag-background: var(--accent-color-trans);
  font-weight: bold;

  --text-faint: var(--accent-color-trans);
  --blockquote-border-color: var(--accent-color);
  --interactive-accent: var(--accent-color);
  --collapse-icon-color-collapsed: var(--accent-color);
  --checkbox-color: var(--accent-color);
  --checkbox-marker-color: var(--page-color);
  --checkbox-color-hover: var(--accent-color-trans);
  --checkbox-border-color: var(--accent-color);
  --list-marker-color: var(--accent-color);
}
.embed-manila img {
  background-color: var(--manila-page);
}

/* -------------------------- Blueprint Styled Page ------------------------- */
/* Defaults to White Pen */
.page-blueprint {
  --page-color: var(--blue-page);
  --accent-color: var(--pen-white);
  --accent-color-trans: var(--pen-white-trans);

  color-scheme: dark;
  color: var(--accent-color);
  background-color: var(--page-color);
  --text-normal: var(--accent-color);
  --text-muted: var(--accent-color);
  --metadata-label-text-color: var(--accent-color);
  --tag-color: var(--accent-color);
  --link-color: #a7dcff;
  --link-color-hover: #d2eafa;
  --metadata-input-text-color: var(--accent-color);
  --hr-color: var(--accent-color);
  --tag-background: var(--accent-color-trans);
  /* --pill-background: var(--pen-white-trans); */
  font-weight: bold;
  --checklist-done-color: var(--accent-color);
  --text-faint: var(--accent-color-trans);
  --blockquote-border-color: var(--accent-color);
  --interactive-accent: var(--accent-color);
  --collapse-icon-color-collapsed: var(--accent-color);
  --checkbox-color: var(--accent-color);
  --checkbox-marker-color: var(--page-color);
  --checkbox-color-hover: var(--accent-color-trans);
  --checkbox-border-color: var(--accent-color);
  --list-marker-color: var(--accent-color);
}
.embed-blueprint img {
  background-color: var(--blue-page);
}

/* ------------------------------- Pen Colors ------------------------------- */
/* Image Effects generated with:
    https://angel-rs.github.io/css-color-filter-generator */
.pen-white {
  --accent-color: var(--pen-white);
  --accent-color-trans: var(--pen-white-trans);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(89%) sepia(1%)
    saturate(2714%) hue-rotate(196deg) brightness(107%) contrast(98%);
}
.pen-blue {
  --accent-color: var(--manila-pen-blue);
  --accent-color-trans: var(--manila-pen-blue-trans);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(36%) sepia(95%)
    saturate(945%) hue-rotate(199deg) brightness(95%) contrast(95%);
}
.pen-red {
  --accent-color: var(--manila-pen-red);
  --accent-color-trans: var(--manila-pen-red-trans);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(40%) sepia(41%)
    saturate(1024%) hue-rotate(316deg) brightness(99%) contrast(94%);
}
.pen-green {
  --accent-color: var(--manila-pen-green);
  --accent-color-trans: var(--manila-pen-green-trans);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(52%) sepia(60%)
    saturate(2521%) hue-rotate(105deg) brightness(96%) contrast(84%);
}
.pen-black {
  --accent-color: var(--manila-pen-black);
  --accent-color-trans: var(--manila-pen-black-trans);
  color: var(--accent-color);
  --hr-color: var(--accent-color);
  --image-effect: brightness(0) saturate(100%) invert(14%) sepia(19%)
    saturate(296%) hue-rotate(5deg) brightness(90%) contrast(96%);
}

hr {
  color: var(--accent-color);
}
